    #show{
        color:black;
    }
     #full{
        padding-left: 0px;
        padding-right: 0px;
     }
     #map {
            height: 650px;
          }
    #bar{
        margin-bottom: 0px;
        }
    .ham{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        }
    .hide{
            width:0px;
        }
    .full{
            width:100vw;
        }
    .options-box{
        background:#101010;
        /*border:1px solid #999;*/
        /*border-radius:3px;*/
        color:white;
        height:100vh;
        line-height:35px;
        padding:10px 10px 30px 10px;
        /*width:28%;*/
        bottom:0px;
    }